* {
  margin: 0 auto;
  padding: 0;
}

:root {
  --background-color: #000000;
  --foreground-color: #6a97e9;
  --primary-text-color: black;
  --icon-color: black;
  --outline-color: black;
  --button-color: #d67c41;
  --button-text: #ffff;
  --button-hover: #d15c0e;
}
